.Loader {
    display: flex;
    gap: 30px;
    width: fit-content;
    height: fit-content;
}

.Loader .Loader__quadrado {
    width: 20px;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 3px;
    animation: pularAnim 1.2s infinite alternate;
    
}


.Loader .Loader__quadrado:nth-child(2){
    animation-delay: 400ms;
}

.Loader .Loader__quadrado:nth-child(3){
    animation-delay: 800ms;
}

@keyframes pularAnim {
    0% {
        rotate: -180deg;
        translate: 0 20px;
    }


    100% {
        translate: 0 -50px;
        rotate: 180deg;
    }
}