.Footer {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 -30px 30px var(--main-color);
    bottom: 0%;
    font-size: 0.7vw;
}

.Footer__Contato {
    margin: auto;
    margin-top: 0;
    padding: 2%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Footer__Contato aside{
    color: var(--secondary-color);
    opacity: 0.4;
    width: fit-content;
    margin: auto;
}

.Footer__Contato aside a{
    color: var(--secondary-color);
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

.Footer__Contato aside:hover {
    opacity: 1;

}

.Footer__Autoria{
    margin: auto;
    margin-bottom: 2vw;
    text-align: center;
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .Footer__Contato{
        flex-direction: column;
        gap: 1vw;
        justify-content: center;
    }

}

@media (max-width: 480px) {


}