.Footer {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 -30px 30px var(--main-color);
}

.Footer__Contato {
    padding: 2%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Footer__Contato aside{
    color: var(--secondary-color);
    width: fit-content;
}