.Footer {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 -30px 30px var(--main-color);
    bottom: 0%;
    color: var(--secondary-color);
}

.Footer__Contato {
    margin: auto;
    margin-top: 0;
    padding: 2%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Footer__Contato aside{
    color: var(--secondary-color);
    width: fit-content;
    margin: auto;
}

.Footer__Contato aside a{
    color: var(--secondary-color);
    width: fit-content;
    margin: auto;
    cursor: pointer;

}


@media (max-width: 768px) {
    .Footer__Contato{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1vw;
        justify-content: space-around;
    }

}

@media (max-width: 480px) {
    .Footer__Contato aside a{
        font-size: 2.5vw;
    }

    .Footer aside {
        font-size: 2.5vw;
    }

    .Footer {
        margin-bottom: 5%;
    }

}