.NavBar {
    display: flex;
    position: sticky;
    width: 100%;
    height: 5vw;
    background-color: var(--secondary-color);
    justify-content: center;
    padding: 1vw 5%;
    box-sizing: border-box;
    max-width: 100vw;
    color: var(--main-color);
    top: 0%;
    transition: ease-in-out 0.2s;
}

.NavBar__Links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5vw;
}

.NavBar__Links li {
    font-size: 1.2rem;
}


.NavBar__Btn {
    display: inline-block;
    background: none;
    border: none;
    text-decoration: none;
    padding: 100%;
    font-size: 1rem;
}

.NavBar__Btn:hover {
    cursor: pointer;
    color: var(--accent-color);
}

@keyframes fadeInHeader {
    from {opacity: 0;}
    to {opacity: 1;}
}

.NavBar a{
    color: var(--main-color);
}

@media (max-width: 768px) {

.NavBar {
    padding: 5vw 5%;
}

.NavBar a{
    font-size: 3.2vw;
}

.NavBar__Links {
    gap: 4vw;
}
}

@media (max-width: 480px) {



.NavBar {
    padding: 40px 5%;
}

.NavBar a{
    font-size: 4.2vw;
}

.NavBar__Links {
    gap: 8.5vw;
}

}