.NavBar {
    display: flex;
    position: sticky;
    width: 100%;
    height: 5%;
    background-color: var(--secondary-color);
    justify-content: center;
    padding: 30px 5%;
    box-sizing: border-box;
    max-width: 100vw;
    font-size: 1rem;
    color: var(--main-color);
    top: 0%;
    transition: ease-in-out 0.2s;
}

.NavBar__Links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.NavBar__Links li {
    width: fit-content;
    font-size: 1.2rem;
}


.NavBar__Btn {
    display: inline-block;
    background: none;
    border: none;
    text-decoration: none;
    padding: 100%;
    font-size: 1rem;
}

.NavBar__Btn:hover {
    cursor: pointer;
    color: var(--accent-color);
}
