.Home {
  display: flex;
  justify-content: center; 
  align-content: center;
  height: 58vh;
  background-image: url("/Mosaico.png");
  background-repeat: repeat;
  background-size: 75%;
  animation-name: Background;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes Background {
  from {background-position: 0 0;}
  to {background-position: 200% 200%;}
}

.Home__Titulo {
  top: 0%;
  margin: 0;
  display: flex;
  padding: 2% 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--main-color);

}

.Home__Titulo h1, .Home__Titulo h2 {
  margin: 0;
}

.Home__Titulo h2 {
  color: var(--secondary-color);
}

.Home__Btn {
  margin-top: 10%;
  width: 40%;
  height:100px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-size: 1.5rem;
  transition: 0.2s;
}

.Home__Btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

@media (max-width: 768px) {

.Home__Btn {
  margin-top: 20%;
  height: 80px;
}



}

@media (max-width: 480px) {

.Home__Titulo {
  padding: 5% 0;
}

.Home__Titulo h1 {
  font-size: 2.5rem;
}

.Home__Titulo h2 {
  font-size: 1.5rem;
}

.Home {
  background-size: 200%;
  height: 50vh;
}

.Home__Btn {
  margin-top: 30%;
  height: 80px;
}




}