* {
  width: 100%;
  font-family: 'Roboto Mono';
  transition: ease-in-out 0.2s;
}



:root {



  color-scheme: light dark;
  color: var(--accent-color);
  background-color: var(--main-color);



  --main-color: #0B0812;
  --accent-color: white;
  --secondary-color: #6E5BB5;
  width: 100%;
  transition: ease-in-out 0.2s;
}

a {
  font-weight: 500;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}
a:hover {
  color: var(--accent-color);
  font-weight: 900;
}

body {
  justify-items: center;
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  transition: ease-in-out 0.2s;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 400;
}

h2 {
  font-weight: 400;
  font-size: 1.5em;
}

button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

img {
  border-radius: 10px;
}


@keyframes fadeIn {
  from {
    opacity: 0.2;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
 
  }
}

.route-enter {
  animation: fadeIn 0.5s ease-in forwards;
}

@media (max-width: 768px) {

* {
    font-size: 0.9rem;
}

}

@media (max-width: 480px) {

* {
    font-size: 0.9rem;
}

}