.SobreMim {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.SobreMim__FlexContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.SobreMim__Nome {
    margin-left: 0%;
}

.SobreMim__Titulo {
    margin-bottom: 0;
    margin-top: 5%;
    width: fit-content;
}

.SobreMim__Subtitulo {
    width: fit-content;
    margin-top: 0;
    color: var(--secondary-color);
}

.SobreMim__Info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.SobreMim__Foto {
    margin: auto;
    height: 40vh;
    width: 40vh;
}

.SobreMim__Descricao{
    margin-bottom: 5%;
}

.SobreMim__Texto {
    margin: auto;
    width: 80%;
}

.SobreMim__Educacao {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.SobreMim__Competencias {
    margin-top: 10%;
    
}

@media (max-width: 768px) {

.SobreMim__Info {
    flex-direction: column;
    justify-content: center;
}

.SobreMim__Texto {
    width: 100%;
}


.SobreMim__Foto {
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

}


@media (max-width: 460px) {


}