.WebDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

.WebDesign__Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8%;
}

.WebDesign__Titulo {
    width: fit-content;
    margin: auto;
    margin-bottom: 5%;
    font-size: 3vw;
}

.WebDesign__BtnGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.WebDesign__Btn {
    width: 25%;
    height: 90px;
    font-size: 1.2em;
    background-color: var(--main-color);
    border: 5px solid var(--secondary-color);
    color: var(--secondary-color);
}

.WebDesign__Btn:hover, .WebDesign__Btn:focus {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: 5px solid var(--main-color);
}

.WebDesign__Toggle {
    padding: 2%;
    width: 80%;
    border-radius: 10px;
    background-color: var(--main-color);
    /* border: 5px solid var(--secondary-color); */
    margin: 2% auto;
    transition: ease-in-out 0.2s;
    
}

.WebDesign__Toggle--1, .WebDesign__Toggle--2, .WebDesign__Toggle--3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WebDesign__Toggle--1 img, .WebDesign__Toggle--2 img, .WebDesign__Toggle--3 img {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 5%;
}

@media (max-width: 768px) {

    .WebDesign__Titulo {
        font-size: 4vw;
    }

    .WebDesign__Btn {
        width: 25%;
    }

    .WebDesign__Toggle--1 img, .WebDesign__Toggle--2 img, .WebDesign__Toggle--3 img {
        width: 100%;
    }

}

@media (max-width: 480px) {

}