.WebDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    min-height: 50vh;
}

.WebDesign__Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8%;
    transition: ease-in-out 0.2s;
}

.WebDesign__Titulo {
    width: fit-content;
    margin: auto;
    margin-bottom: 2%;
    font-size: 2.2vw;
}

.WebDesign__BtnGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.WebDesign__Btn {
    width: 25%;
    height: 60px;
    font-size: 1.5vw;
    background-color: var(--main-color);
    border: 5px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: ease-in-out 0.2s
}

.WebDesign__Btn:hover, .WebDesign__Btn:focus {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.WebDesign__Toggle {
    display: flex;
    justify-content: center;
    padding: 0 2% 2% 2%;
    width: 50%;
    max-height: 55vh;
    border-radius: 20px;
    background-color: var(--main-color);
    border: 5px solid var(--secondary-color);
    margin: 2% auto;
    transition: ease-in-out 0.2s;
    overflow-y: scroll;
}


.WebDesign__Toggle::-webkit-scrollbar {

  width: 22px;
  
}

.WebDesign__Toggle::-webkit-scrollbar-track {
  background: none;
}
 

.WebDesign__Toggle::-webkit-scrollbar-thumb {
  background: var(--secondary-color); 
  border-radius: 100px;
  border: 8px solid transparent;
  background-clip: content-box;
}



.WebDesign__Toggle--1, .WebDesign__Toggle--2, .WebDesign__Toggle--3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: sizeIn 1s forwards;

}

.WebDesign__Toggle--1 p, .WebDesign__Toggle--2 p, .WebDesign__Toggle--3 p {
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    margin-bottom: -3%;
    margin-left: 2%;
    opacity: 0;
    animation: fadeInImg 0.2s forwards ease-in-out;
    animation-iteration-count: 1;
}

.WebDesign__Toggle--1 p:nth-child(1), .WebDesign__Toggle--2 p:nth-child(1), .WebDesign__Toggle--3 p:nth-child(1){
    animation-delay: 0.5s;
}

.WebDesign__Toggle--1 p:nth-child(3), .WebDesign__Toggle--2 p:nth-child(3), .WebDesign__Toggle--3 p:nth-child(3){
    animation-delay: 1.5s;
}

.WebDesign__Toggle--1 p:nth-child(5), .WebDesign__Toggle--2 p:nth-child(5), .WebDesign__Toggle--3 p:nth-child(5){
    animation-delay: 3s;
}




.WebDesign__Toggle--1 img, .WebDesign__Toggle--2 img, .WebDesign__Toggle--3 img {
    width: 100%;
    height: auto;
    margin: auto;
    margin-right: -2%;
    margin-top: 5%;
    opacity: 0;
    animation: fadeInImg 0.2s forwards ease-in-out;
    animation-iteration-count: 1;
}

.WebDesign__Toggle--1 img:nth-child(2), .WebDesign__Toggle--2 img:nth-child(2), .WebDesign__Toggle--3 img:nth-child(2){
    animation-delay: 0.5s;
}

.WebDesign__Toggle--1 img:nth-child(4), .WebDesign__Toggle--2 img:nth-child(4), .WebDesign__Toggle--3 img:nth-child(4){
    animation-delay: 1.5s;
}

.WebDesign__Toggle--1 img:nth-child(6), .WebDesign__Toggle--2 img:nth-child(6), .WebDesign__Toggle--3 img:nth-child(6){
    animation-delay: 3s;
}


@keyframes fadeInImg {
    from {
        opacity: 0;
        translate: 0 -20px;
        filter: blur(5px);
    }

    to {
        filter: blur(0px);
        opacity: 1;
        translate: 0;
    }
}


@keyframes sizeIn {
  
  from {
    height: 0;
    width: 0;
    opacity: 0;
    filter: blur(5px);
  }

  to {
    height: 100%;
    width: 100%;
    opacity: 1;
    filter: blur(0px);
  }

}

@media (max-width: 768px) {
    .WebDesign {
        margin-top: 5%;
    }

    .WebDesign__Titulo {
        font-size: 3vw;
    }

    .WebDesign__Btn {
        width: 40%;
    }

    .WebDesign__Toggle {
        width: 80%;
    }

    .WebDesign__Toggle--1 img, .WebDesign__Toggle--2 img, .WebDesign__Toggle--3 img {
        width: 100%;
        margin-right: -2%;

    }

    .WebDesign__Btn {
        font-size: 2vw;
    }

}

@media (max-width: 480px) {
    .WebDesign {
        min-height: 40vh;
        margin-bottom: 10%;
    }

    .WebDesign__Titulo {
        font-size: 4vw;
    }   

    .WebDesign__Btn {
        font-size: 3vw;
    }


    .WebDesign__Toggle {
        max-height: 100%;
        overflow-y:hidden;
    }


    .WebDesign__Toggle--1 p:nth-child(3), .WebDesign__Toggle--2 p:nth-child(3), .WebDesign__Toggle--3 p:nth-child(3){
        animation-delay: 1S;
    }

    .WebDesign__Toggle--1 p:nth-child(5), .WebDesign__Toggle--2 p:nth-child(5), .WebDesign__Toggle--3 p:nth-child(5){
        animation-delay: 2s;
    }   


    .WebDesign__Toggle--1 img:nth-child(4), .WebDesign__Toggle--2 img:nth-child(4), .WebDesign__Toggle--3 img:nth-child(4){
        animation-delay: 1s;
    }

    .WebDesign__Toggle--1 img:nth-child(6), .WebDesign__Toggle--2 img:nth-child(6), .WebDesign__Toggle--3 img:nth-child(6){
        animation-delay: 2s;
    }

    .WebDesign__Toggle--1 img, .WebDesign__Toggle--2 img, .WebDesign__Toggle--3 img {
        margin-right: 0%;

    }





}

